/*  your css code here. If applicable */
body {
    width: 1100px;
    margin: 0 auto;
}

.imageContainer {
    width: 1100px;
    margin-bottom: 20px;
}

.imageContainer img {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
}

td img {
    width: 100%;
}